# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
/public/hot
/public/mix-manifest.json
/public/build
/bootstrap/cache/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# React/Vite
.vite
dist
build
*.log

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode
